@{
	 ViewData["Title"] = "Money Lover";
}

@model LifeChart.Models.MoneyLoverModel;
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League Spartan">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
<div id="PastExpensesContainer">
	<partial name="_PastExpenses" model="Model"/>
</div>

<div id="TodayExpensesContainer">
	<partial name="_TodayExpenses" model="Model"/>
</div>

<div id="ExpenseTrackerContainer">
	<partial name="_ExpenseTracker" model="Model"/>
</div>

@section scripts {
	<script>
		$(document).ready(function() {
			$('body').on('submit','#today-expense-form', function() {	
				//from _todayexpenses
				const category = $('#expense-name').val();
				const addedAmount = parseFloat($('#expense-amount').val());
				//from _expensetracker
				const amountSplit = $('#category-amount-' + category).html().split('/');
				const currentAmount = parseFloat(amountSplit[0]);
				const limit = parseFloat(amountSplit[1]);
				const totalAmount = addedAmount + currentAmount;
				console.log(totalAmount);
				//edit amount
				$('#category-amount-' + category).html(totalAmount + "/" + limit);
			})
		})
	</script>
}

<style>
	.container{
		display:flex;
		flex-direction:row;
		gap:50px;
        justify-content:center;
        margin-top:5vh;
        
	}
	body{
		background-color: #03030F;
	}
	footer{
		display:none;
	}

	h1 {
		text-align: start;
		margin-bottom: 20px;
		font-family: "Outfit";
		font-size:20px;
	}

   
</style>