@{
	ViewData["Title"] = "What-if Scenario";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="what-if">
	<div class="input-container">
		<p>What-If Scenario</p>
		<label for="current-age-input">Current Age</label>
		<input type="number" placeholder="Ex: 18" id="current-age-input" />

		<label for="current-age-input">FFP Age</label>
		<input type="number" placeholder="Ex: 65" id="ffp-age-input" />

		<label for="spend-input">Spending (USD)</label>
		<input type="text" placeholder="Ex: 30000" id="spend-input" />

		<label for="inflation-input">Inflation (%)</label>
		<input type="number" placeholder="Ex: 5" id="inflation-input" />

		<label for="bank-input">Bank Assets (USD)</label>
		<input type="text" placeholder="Ex: 10000" id="bank-input" />
		<input type="text" id="roi-input" placeholder="ROI (%)" />

		<div class="stages-list">
			
		<ul id="myList">			
			<li><a id="clicked" href="#1"  style="color:black">Stage 1</a></li>
		</ul>
			<button onclick="addList()" id="add" >+</button>
		</div>
		<div class="stages-input" id="1">

			<label for="current-age-input-1">From 1</label>
			<input type="number" placeholder="Ex: 18"  id="current-age-input-1" />

			<label for="ffp-age-input-1">To 1</label>
			<input type="number" placeholder="Ex: 65" id="ffp-age-input-1" />

			<label for="increase-input">Annual Increase Saving 1 (%)</label>
			<input type="number" placeholder="Ex: 10" id="increase-input" />

			<label for="save-monthly">Save per month 1 (USD)</label>
			<input type="number" placeholder="Ex: 10000" id="save-monthly" />

		</div>

		<div class="stages-input" id="2">

			<label for="current-age-input-2">From 2</label>
			<input type="number" placeholder="Ex: 40" id="current-age-input-2" />

			<label for="ffp-age-input-2">To 2</label>
			<input type="number" placeholder="Ex: 65" id="ffp-age-input-2" />

			<label for="increase-input-2">Annual Increase Saving 2 (%)</label>
			<input type="number" placeholder="Ex: 10" id="increase-input-2" />

			<label for="save-monthly-2">Save per month 2 (USD)</label>
			<input type="number" placeholder="Ex: 10000" id="save-monthly-2" />
			

		</div>

		<div class="stages-input" id="3">

			<label for="current-age-input-3">From 3</label>
			<input type="number" placeholder="Ex: 50" id="current-age-input-3" />

			<label for="ffp-age-input-3">To 3</label>
			<input type="number" placeholder="Ex: 65" id="ffp-age-input-3" />

			<label for="increase-input-3">Annual Increase Saving 3 (%)</label>
			<input type="number" placeholder="Ex: 10" id="increase-input-3" />

			<label for="save-monthly-3">Save per month 3 (USD)</label>
			<input type="number" placeholder="Ex: 10000" id="save-monthly-3" />


		</div>

		

		<div class="whatif-buttons">
			<button onclick="calculate()" id="calculate">Calculate</button>
			<button onclick="save()" id="save">Save</button>
		</div>
		<p id="moneytosavemonth"></p>

	</div>
	<div class="answer-container">
	<div class="chart-container">
		<canvas id="myChart" style="margin-top:50px;"></canvas>
	</div>
	<div class="answer">
		<span class="ans">First Year Savings:</span>
			<p id="answer"></p>
	</div>
	</div>
</div>
<style>
	
	html {
		height: 100%;
	}

	body {
		background-color: #03030F;
	}
	
	p {
		font-family: "Outfit";
		font-weight: bold;
		margin-left: auto;
		margin-right: auto;
	}

	.what-if {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		column-gap: 5vw;
		padding-top: 5vh;
	}

	.input-container {
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 25vw;
		height: 105vh;
		margin-left: 5vw;
		border-radius: 30px;

		
	}
	.stages-list{
		display: flex;
		width:100%;
		align-items:center;		
	}
	ul{
		padding:0;
	
	}
	li{
		font-weight:bold;
	

	}
	#add{
		border:none;
		background-color:white;
		margin-left:5px;
		font-size:larger;
		
	}
	#add:hover{
		cursor:pointer;
	}

	.stages-input {
		width: 100%;
		display: none;
	
	}

	.stages-input:target {
		display: flex;
		flex-direction: column;
	}
	.chart-container {
		display:flex;
		/* align-items:center; */
		/* justify-content:center; */
		background-color: white;
		width: 60vw;
		height: 75vh;
		border-radius: 30px;

	}
	
	label {
		margin-bottom: 0px;
		font-family: "Outfit";
		font-weight: thin;
		margin-left: 10%;
	}

	.whatif-buttons {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		display: inline-flex;
		gap: 10px;
	}
	#calculate {
		background-color:black;
		color:white;
		margin-left: auto;
		margin-right: auto;
		border-radius:30px;
		padding:7px 30px 7px 30px;
	}
	#calculate:hover{
		cursor: pointer;
	}

	#save {
		background-color: black;
		color: white;
		margin-left: auto;
		margin-right: auto;
		border-radius: 30px;
		padding: 7px 30px 7px 30px;
	}

	#save:hover {
		cursor: pointer;
	}
	input {
		border: none;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
		font-family: "Outfit";
		font-weight: thiner;
		margin-left: 10%;
		width:70%;
	}
	.ans{
		font-family:"Outfit";
	}
	.answer{
		background-color: white;
		border-radius: 30px;
		margin-top:20px;
		height:15vh;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	footer {
		display: none;
	}
</style>
<script>
	


	var i = 1;
	function addList() {
		i = i + 1;
		var myList = document.getElementById("myList");
		var newListItem = document.createElement("li");
		var linkElement = document.createElement("a");
		// newListItem.setAttribute('id', i);
		linkElement.innerText = "Stage " + i;
		linkElement.href = "#" + i;
		linkElement.style.color = "black";

		newListItem.appendChild(linkElement);
		myList.appendChild(newListItem);
		if (i == 3) {
			var button = document.getElementById("add");
			button.disabled = true;
		}
	}

	function calculate() {
		// What-if input
		const currentAge = parseInt(document.getElementById("current-age-input-1").value);
		const ffpAge = parseInt(document.getElementById("ffp-age-input-1").value); // Financial freedom point age
		const moneyFFP = parseInt(document.getElementById("spend-input").value); // Monthly money required after financial freedom point
		const inflation = parseFloat(document.getElementById("inflation-input").value) / 100; // Inflation of the country
		const annualIncrease = parseFloat(document.getElementById("increase-input").value) / 100;
		const saveMonthly = parseInt(document.getElementById("save-monthly").value);

		const currentAge2 = parseInt(document.getElementById("current-age-input-2").value);
		const ffpAge2 = parseInt(document.getElementById("ffp-age-input-2").value); // Financial freedom point age
		const annualIncrease2 = parseFloat(document.getElementById("increase-input-2").value) / 100;
		const saveMonthly2 = parseInt(document.getElementById("save-monthly-2").value);

		const currentAge3 = parseInt(document.getElementById("current-age-input-3").value);
		const ffpAge3 = parseInt(document.getElementById("ffp-age-input-3").value); // Financial freedom point age
		const annualIncrease3 = parseFloat(document.getElementById("increase-input-3").value) / 100;
		const saveMonthly3 = parseInt(document.getElementById("save-monthly-3").value);

		//xvalue for chart
		const ageLife = parseInt(document.getElementById("current-age-input").value);
		const ffpLife = parseInt(document.getElementById("ffp-age-input").value);
		var life = [];
		var last = ffpLife - ageLife;
		for (var i = 0; i <= last; i++) {
			life[i] = currentAge + i;
		}
		
		// Capital Asset
		const bankAsset = parseInt(document.getElementById("bank-input").value); // Total money in the bank NOW
		const bankROI = parseFloat(document.getElementById("roi-input").value) / 100; // Bank return_of_investment (e.g., 6%)

		// Event
		const eventAge = 30;
		const eventIncome = 0;

		// Pension expected
		const pension = 0;

		function generateStages(stageInfo) {
			const stages = [];

			for (let i = 0; i < stageInfo.length; i++) {
				const { start, end, toSavePerMonth, annualIncrease } = stageInfo[i];

				const stage = {
					stageNumber: i + 1,
					moneyEarnAnnual: [],
					moneyEarnAnnualWithBankROI: [],
					totalSave: null,
					toSavePerMonth,
					start,
					end,
					annualIncrease,
				};

				stages.push(stage);
			}

			return stages;
		}

		// Generate stages
		const stageInfo = [
			{ start: currentAge, end: ffpAge, toSavePerMonth: saveMonthly, annualIncrease: annualIncrease },
			{ start: currentAge2, end: ffpAge2, toSavePerMonth: saveMonthly2, annualIncrease: annualIncrease2 },
			{ start: currentAge3, end: ffpAge3, toSavePerMonth: saveMonthly3, annualIncrease: annualIncrease3 },

		];
		
		const stages = generateStages(stageInfo);
		// console.log(stages);

		// Calculation Total Money needed
		const moneyNeed = (moneyFFP - pension) * 12 * 25 * Math.pow(1 + inflation, ffpLife - ageLife); // Money required after FFP
		const moneyEvent = eventIncome * Math.pow(1 + bankROI, ffpLife - eventAge);
		const BankAsset = bankAsset * Math.pow(1 + bankROI, ffpLife - eventAge);
		const totalMoneyNeed = moneyNeed - moneyEvent - BankAsset;
	
		// Function to calculate sigma of a given function
		function sigma(start, end, func) {
			let sum = 0;
			for (let i = start; i < end; i++) {
				sum += func(i);
			}
			return sum;
		}

		// Function to find the reverse of sigma using Newton-Raphson method
		function findReverseSigma(targetSum, func, initialGuess, tolerance) {
			let x = initialGuess;
			let previousX;

			do {
				previousX = x;
				x = x - (func(x) - targetSum) / calculateDerivative(func, x);
			} while (Math.abs(x - previousX) > tolerance);

			return x;
		}

		// Function to calculate the derivative of a given function using a small step value
		function calculateDerivative(func, x) {
			const step = 0.0001; // Small step value
			return (func(x + step) - func(x)) / step;
		}

		// Calculate money that the user can save each year
		function calculateAnnualSaving(stageNumber, start, end, monthlySaving, annualIncrease) {
			if (stageNumber != 1) {
				monthlySaving = monthlySaving * Math.pow((1 + inflation), (start - currentAge));
			}

			const annualSaving = [];
			for (let i = 0; i <= end - start; i++) {
				const amount = (monthlySaving * 12) * Math.pow(1 + annualIncrease, i);
				const age = start + i;
				annualSaving.push({ age, amount });
			}

			return annualSaving;
		}
		
		// Calculate money that the user can save each year then put it into the bank
		function calculateAnnualSavingWithBankROI(start, end, annualSaving, bankROI) {
			const annualSavingWithBankROI = [];

			console.log(start, end);
			for (let i = 0; i <= end - start; i++) {
				const age = annualSaving[i].age;
				const amount = annualSaving[i].amount * Math.pow(1 + bankROI, ffpLife - age);
				annualSavingWithBankROI.push({ age, amount });
			}

			return annualSavingWithBankROI;
		}

		// Calculate Total_moneyEarnAnnualWithBankROI using the provided functions
		function calculateTotalAnnualSavingWithBankROI(stages, monthlySavingRequired, bankROI) {
			const totalAnnualSaving = [];
			stages.forEach((stage) => {

				stage.moneyEarnAnnual = calculateAnnualSaving(stage.stageNumber, stage.start, stage.end, stage.toSavePerMonth ? stage.toSavePerMonth : monthlySavingRequired, stage.annualIncrease);

				stage.moneyEarnAnnualWithBankROI = calculateAnnualSavingWithBankROI(stage.start, stage.end, stage.moneyEarnAnnual, bankROI);

				stage.moneyEarnAnnualWithBankROI.forEach((x) => {
					totalAnnualSaving.push(x);
				});
			});
			return sigma(0, totalAnnualSaving.length, (i) => totalAnnualSaving[i].amount);
		}

		// Example usage: Find the money_save needed to achieve the target Total_money_need
		const initialGuess = 1000; // Replace with an initial guess close to the solution
		const tolerance = 0.01; // Tolerance for stopping the iteration

		const moneyToSavePerMonth = findReverseSigma(totalMoneyNeed, (x) => calculateTotalAnnualSavingWithBankROI(stages, x, bankROI), initialGuess, tolerance);

		// console.log("Money needed to save:", (moneyToSavePerMonth));
		// console.log(inflation);
		// console.log(bankROI);

		// function computeMoneyLeftToSave(stages) {
		// 	let computedSum = 0;
		// 	stages.forEach((stage) => {
		// 		if (stage.toSavePerMonth) {
		// 			stage.moneyEarnAnnual = calculateMoneyEarnAnnual(stage.start, stage.end, stage.toSavePerMonth, stage.annualIncrease);
		// 			stage.totalSave = sigma(0, stage.end - stage.start, (i) => stage.moneyEarnAnnual[i].amount);
		// 			computedSum += stage.totalSave;
		// 		}
		// 	});
		// 	return computedSum;
		// }

		
		// Generate new stages info
		function StageInfoUpdate(stages, moneyToSavePerMonth) {
			const filledStages = stages.map((stage, index) => {
				// if (index === 0) {
				// 	// For the first stage, set toSavePerMonth to moneyToSavePerMonth if it's null
				// 	stage.toSavePerMonth = stage.toSavePerMonth || moneyToSavePerMonth;
				// } else {
				// 	// For subsequent stages, set toSavePerMonth to the value from the previous stage
				// 	stage.toSavePerMonth =
				// 		stage.toSavePerMonth || stages[index - 1].toSavePerMonth;
				// }
				stage.toSavePerMonth = stage.toSavePerMonth || moneyToSavePerMonth;

				return stage;
			});
			return filledStages;
		}
		const NewStages = StageInfoUpdate(stages, moneyToSavePerMonth);

		// An Array annualSaving per year from the begin to the end:
		function generateCombinedMonthlySavings(stages) {
			const combinedSavings = [];

			stages.forEach((stage) => {
				const { toSavePerMonth, start, end, annualIncrease } = stage;

				let monthlySaving = toSavePerMonth * 12;
				if (stage.stageNumber !== 1) {
					// Adjust monthly saving based on inflation for subsequent stages
					monthlySaving *= Math.pow(1 + inflation, start - currentAge);
				}

				for (let age = start; age <= end; age++) {
					combinedSavings.push({ age, monthlySaving });
					// Increase monthly saving based on the annual increase for each age
					monthlySaving *= (1 + annualIncrease);
				}
			});

			return combinedSavings;
		}

		// Usage with the provided stages (Yellow Line = ArrayAnnualSaving)
		const ArrayAnnualSaving = generateCombinedMonthlySavings(stages);
		

		var moneyAnnual = [];
		for (var i = 0; i < ArrayAnnualSaving.length; i++) {
			moneyAnnual.push(ArrayAnnualSaving[i].monthlySaving);
		}

		// An Array of Bank account amount from the begin to the end:
		function calculateTotalSavingsAtEachAge(ArrayAnnualSaving) {
			const totalSavingsAtEachAge = [];

			let accumulator = 0;

			for (const savings of ArrayAnnualSaving) {
				if (accumulator == 0) {
					accumulator = (accumulator + savings.monthlySaving);
				} else {
					accumulator = accumulator * (1 + bankROI) + savings.monthlySaving;
				}
				totalSavingsAtEachAge.push({ age: savings.age, total: accumulator });
			}

			return totalSavingsAtEachAge;
		}


		// Usage with the previously generated ArrayAnnualSaving array (Red line = totalSavingsAtEachAge)
		const totalSavingsAtEachAge = calculateTotalSavingsAtEachAge(ArrayAnnualSaving);
		
		var moneyCreated = [];
		for (var i = 0; i < totalSavingsAtEachAge.length; i++) {
			moneyCreated.push(totalSavingsAtEachAge[i].total)
		}
		// Total Money (Green Line = totalMoneyNeed)
		
		var goal = [];
		for (var i = ageLife; i <= ffpLife; i++) {
			goal.push(totalMoneyNeed);
		}

		document.getElementById("answer").innerHTML = moneyToSavePerMonth;

		
		const xValues = life;

		new Chart("myChart", {
			type: "line",
			data: {
				labels: xValues,
				datasets: [{
					label: 'Money to save annual',
					data: moneyAnnual,
					borderColor: "yellow",
					fill: false
				}, {
					label: 'Goal',
					data: goal,
					borderColor: "green",
					fill: false
				}
					, {
					label: 'Money generated',
					data: moneyCreated,
					borderColor: "red",
					fill: false
				}]
			},
			options: {
				legend: {},
					title: {
					display: true,
					text: "Life Chart"
				},
			}
		});
	}

	function save() {
		const currentAge = parseInt(document.getElementById("current-age-input-1").value);
		const ffpAge = parseInt(document.getElementById("ffp-age-input-1").value); // Financial freedom point age
		const moneyFFP = parseInt(document.getElementById("spend-input").value); // Monthly money required after financial freedom point
		const inflation = parseFloat(document.getElementById("inflation-input").value) / 100; // Inflation of the country
		const annualIncrease = parseFloat(document.getElementById("increase-input").value) / 100;
		const saveMonthly = parseFloat(document.getElementById("save-monthly").value);

		const currentAge2 = parseInt(document.getElementById("current-age-input-2").value);
		const ffpAge2 = parseInt(document.getElementById("ffp-age-input-2").value); // Financial freedom point age
		const annualIncrease2 = parseFloat(document.getElementById("increase-input-2").value) / 100;
		const saveMonthly2 = parseInt(document.getElementById("save-monthly-2").value);

		const currentAge3 = parseInt(document.getElementById("current-age-input-3").value);
		const ffpAge3 = parseInt(document.getElementById("ffp-age-input-3").value); // Financial freedom point age
		const annualIncrease3 = parseFloat(document.getElementById("increase-input-3").value) / 100;
		const saveMonthly3 = parseInt(document.getElementById("save-monthly-3").value);

		//xvalue for chart
		const ageLife = parseInt(document.getElementById("current-age-input").value);
		const ffpLife = parseInt(document.getElementById("ffp-age-input").value);

		// Capital Asset
		const bankAsset = parseInt(document.getElementById("bank-input").value); // Total money in the bank NOW
		const bankROI = parseFloat(document.getElementById("roi-input").value) / 100;

		const answer = document.getElementById("answer").value //parseInt(document.getElementById("answer").value);

		$.ajax({
			url: '@Url.Action("SaveWhatIf", "Home")',
			type: 'POST',
			dataType: 'json',
			data: { currentAge: ageLife, ffpAge: ffpLife, monthlySpending: moneyFFP, inflation: inflation, bankAsset: bankAsset, bankROI: bankROI,
				startStage1: currentAge, endStage1: ffpAge, annualIncreaseStage1: annualIncrease, saveMonthlyStage1: saveMonthly, 
				startStage2: currentAge2, endStage2: ffpAge2, annualIncreaseStage2: annualIncrease2, saveMonthlyStage2: saveMonthly2,
				startStage3: currentAge3, endStage3: ffpAge3, annualIncreaseStage3: annualIncrease3, saveMonthlyStage3: saveMonthly3,
			},
			success: async function (data) {
				// Handle the API response
				console.log("API Response:", data);
			},
			error: function (error) {
				console.error("API Request Failed:", error);
			}
		});
	}

</script>