@{
	ViewData["Title"] = "What-if Scenario";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="what-if">
	<div class="input-container">
		<p>What-If Scenario</p>
		<label for="current-age-input">Current Age</label>
		<input type="number" id="current-age-input" />

		<label for="ffp-age-input">FFP Age</label>
		<input type="number" id="ffp-age-input" />



		<label for="spend-input">Spending</label>
		<input type="text" id="spend-input" />

		<label for="inflation-input">Inflation</label>
		<input type="number" id="inflation-input" />

		<label for="bank-input">Bank Assets</label>
		<input type="text" id="bank-input" />
		<input type="text" id="roi-input" placeholder="ROI" />

		<label for="increase-input">Annual Increase Saving</label>
		<input type="number" id="increase-input" />
		<button onclick="calculate()">Click me</button>
		<p id="tao"></p>
	</div>
	<div class="chart-container">
		<canvas id="myChart" style="margin-top:50px;"></canvas>
	</div>
</div>
<style>
	html {
		height: 100%;
	}

	body {
		background-color: #03030F;
	}

	p {
		font-family: "Outfit";
		font-weight: bold;
		margin-left: auto;
		margin-right: auto;
	}

	.what-if {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		column-gap: 5vw;
		padding-top: 5vh;
	}

	.input-container {
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 25vw;
		height: 75vh;
		margin-left: 5vw;
		border-radius: 30px;
	}

	.chart-container {
		background-color: white;
		width: 60vw;
		height: 75vh;
		border-radius: 30px;
	}



	label {
		margin-bottom: 0px;
		font-family: "Outfit";
		font-weight: thin;
		margin-left: 10%;
	}

	input {
		border: none;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
		font-family: "Outfit";
		font-weight: thiner;
		margin-left: 10%;
	}

	footer {
		display: none;
	}
</style>
<script>

	function calculate() {
		// What-if input
		const currentAge = parseInt(document.getElementById("current-age-input").value);
		const ffpAge = parseInt(document.getElementById("ffp-age-input").value); // Financial freedom point age
		const moneyFFP = parseInt(document.getElementById("spend-input").value); // Monthly money required after financial freedom point
		const inflation = parseInt(document.getElementById("inflation-input").value)/100; // Inflation of the country
		const annualIncrease = parseInt(document.getElementById("increase-input").value)/100;
		// Capital Asset
		const bankAsset = parseInt(document.getElementById("bank-input").value); // Total money in the bank NOW
		const bankROI = parseInt(document.getElementById("roi-input").value )/ 100; // Bank return_of_investment (e.g., 6%)

		// Event
		const eventAge = 30;
		const eventIncome = 0;

		// Pension expected
		const pension = 0;

		function generateStages(stageInfo) {
			const stages = [];

			for (let i = 0; i < stageInfo.length; i++) {
				const { start, end, toSavePerMonth, annualIncrease } = stageInfo[i];

				const stage = {
					stageNumber: i + 1,
					moneyEarnAnnual: [],
					moneyEarnAnnualWithBankROI: [],
					totalSave: null,
					toSavePerMonth,
					start,
					end,
					annualIncrease,
				};

				stages.push(stage);
			}

			return stages;
		}

		// Generate stages
		const stageInfo = [
			{ start: currentAge, end: ffpAge, toSavePerMonth: null, annualIncrease:annualIncrease},
			
		];

		const stages = generateStages(stageInfo);
		console.log(stages);

		// Calculation Total Money needed
		const moneyNeed = (moneyFFP - pension) * 12 * 25 * Math.pow(1 + inflation, ffpAge - currentAge); // Money required after FFP
		const moneyEvent = eventIncome * Math.pow(1 + bankROI, ffpAge - eventAge);
		const totalMoneyNeed = moneyNeed - moneyEvent;

		// Function to calculate sigma of a given function
		function sigma(start, end, func) {
			let sum = 0;
			for (let i = start; i < end; i++) {
				sum += func(i);
			}
			return sum;
		}

		// Function to find the reverse of sigma using Newton-Raphson method
		function findReverseSigma(targetSum, func, initialGuess, tolerance) {
			let x = initialGuess;
			let previousX;

			do {
				previousX = x;
				x = x - (func(x) - targetSum) / calculateDerivative(func, x);
			} while (Math.abs(x - previousX) > tolerance);

			return x;
		}

		// Function to calculate the derivative of a given function using a small step value
		function calculateDerivative(func, x) {
			const step = 0.0001; // Small step value
			return (func(x + step) - func(x)) / step;
		}

		// Calculate money that the user can save each year
		function calculateAnnualSaving(stageNumber, start, end, monthlySaving, annualIncrease) {
			if (stageNumber != 1) {
				monthlySaving = monthlySaving * Math.pow((1 + inflation), (start - currentAge));
			}

			const annualSaving = [];
			for (let i = 0; i <= end - start; i++) {
				const amount = (monthlySaving * 12) * Math.pow(1 + annualIncrease, start - (start - i));
				const age = start + i;
				annualSaving.push({ age, amount });
			}

			return annualSaving;
		}

		// Calculate money that the user can save each year then put it into the bank
		function calculateAnnualSavingWithBankROI(start, end, annualSaving, bankROI) {
			const annualSavingWithBankROI = [];

			console.log(start, end);
			for (let i = 0; i <= end - start; i++) {
				const age = annualSaving[i].age;
				const amount = annualSaving[i].amount * Math.pow(1 + bankROI, ffpAge - age);
				annualSavingWithBankROI.push({ age, amount });
			}

			return annualSavingWithBankROI;
		}

		// Calculate Total_moneyEarnAnnualWithBankROI using the provided functions
		function calculateTotalAnnualSavingWithBankROI(stages, monthlySavingRequired, bankROI) {
			const totalAnnualSaving = [];
			stages.forEach((stage) => {
				stage.moneyEarnAnnual = calculateAnnualSaving(stage.stageNumber, stage.start, stage.end, stage.toSavePerMonth ? stage.toSavePerMonth : monthlySavingRequired, stage.annualIncrease);
				stage.moneyEarnAnnualWithBankROI = calculateAnnualSavingWithBankROI(stage.start, stage.end, stage.moneyEarnAnnual, bankROI);
				stage.moneyEarnAnnualWithBankROI.forEach((x) => {
					totalAnnualSaving.push(x);
				});
			});
			return sigma(0, totalAnnualSaving.length, (i) => totalAnnualSaving[i].amount);
		}

		// Example usage: Find the money_save needed to achieve the target Total_money_need
		const initialGuess = 1000; // Replace with an initial guess close to the solution
		const tolerance = 0.01; // Tolerance for stopping the iteration

		const moneyToSavePerMonth = findReverseSigma(totalMoneyNeed, (x) => calculateTotalAnnualSavingWithBankROI(stages, x, bankROI), initialGuess, tolerance);

		console.log("Money needed to save:", (moneyToSavePerMonth));
		console.log(inflation);
		console.log(bankROI);
		document.getElementById("tao").innerHTML = moneyToSavePerMonth;
		function computeMoneyLeftToSave(stages) {
			let computedSum = 0;
			stages.forEach((stage) => {
				if (stage.toSavePerMonth) {
					stage.moneyEarnAnnual = calculateMoneyEarnAnnual(stage.start, stage.end, stage.toSavePerMonth, stage.annualIncrease);
					stage.totalSave = sigma(0, stage.end - stage.start, (i) => stage.moneyEarnAnnual[i].amount);
					computedSum += stage.totalSave;
				}
			});
			return computedSum;
		}

		console.log(stages);
	}

		const xValues = [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65];

		new Chart("myChart", {
			type: "line",
			data: {
				labels: xValues,
				datasets: [{
					data: [1, 3, 4, 5, 7, 10, 11, 13, 15, 16, 17, 19, 21, 25, 26, 27, 29, 31, 33, 37, 38, 39, 43, 45, 47, 48, 50, 51, 55, 58, 59, 60, 65, 70, 76, 77, 78, 79, 80, 82, 85, 87, 89, 90, 93, 95, 98, 100],
					borderColor: "red",
					fill: false
				}, {
					data: [200, 198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100],
					borderColor: "green",
					fill: false
				}]
			},
			options: {
				legend: { display: false }
			}
		});
</script>