@{
}

@model LifeChart.Models.MoneyLoverModel;
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League Spartan">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container-inside">
	<h1>Past Expense</h1> 
	<form id="past-expense-form" asp-controller="Home" asp-action="_PastExpenses" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#PastExpensesContainer" data-ajax-method="GET">
		<label for="date-input"></label>
		<input type="date" id="date-input" name="date">
		<input id="btn-submit" type="submit">
	</form>

	<div class="expense-table"> 
		<table class="past-table"> 
            @*<thead> 
                <tr> 
					<th>Expense Name</th> 
                    <th>Amount</th> 
                    <th>Action</th> 
                </tr> 
            </thead> 
			*@
            <tbody id="expense-list">
				@if (Model != null) {
					@foreach (var item in Model.PastExpenses)
					{
						<tr>
							<td>@item.Key.Split(" ")[0] @item.Key.Split(" ")[2] @item.Key.Split(" ")[3]</td>
							<td>@item.Value</td>
							
						</tr>
					}
				}
			</tbody> 
        </table> 
	</div>
</div>


<script>
	 
</script>


<style>
	@* left and right table *@
	.container-inside {
		width: 200px;
        height:400px;
		margin: 0 auto;
		background-color: #f9f9f9;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		display:flex;
		flex-direction:column;
		align-items:start;
	}
	#past-expense-form{
		border-bottom:1px solid black;
		width:100%;
	
	}
	.past-table{
		
	}
	td{
		font-size:10px;
		font-weight:lighter;
	}
	#date-input{
		border:none;
		background-color: #f9f9f9;
	}
</style>
