@{
}

@model LifeChart.Models.MoneyLoverModel;


<div class="container">
	<h1>Past Expense</h1> 
	<form id="past-expense-form" asp-controller="Home" asp-action="_PastExpenses" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#PastExpensesContainer" data-ajax-method="GET">
		<label for="date-input"></label>
		<input type="date" id="date-input" name="date">
		<input id="btn-submit" type="submit">
	</form>

	<div class="expense-table"> 
		<table> 
            <thead> 
                <tr> 
					<th>Expense Name</th> 
                    <th>Amount</th> 
                    <th>Action</th> 
                </tr> 
            </thead> 
            <tbody id="expense-list">
				@if (Model != null) {
					@foreach (var item in Model.PastExpenses)
					{
						<tr>
							<td>@item.Key</td>
							<td>@item.Value</td>
						</tr>
					}
				}
			</tbody> 
        </table> 
	</div>
</div>


<script>
</script>


<style>
	.container { 
		max-width: 800px; 
		margin: 0 auto; 
		background-color: #f9f9f9; 
		padding: 20px; 
		border-radius: 8px; 
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    } 

	  
    h1 { 
        text-align: center; 
        margin-bottom: 20px; 
    } 
</style>
