@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign Up";
}

@model LifeChart.Models.RegisterModel;
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League Spartan">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
<p class="word">MONEY</p>
<div class="app-logo">
    <img src="/Assets/logo.png" alt="logo" width="100%" height="60%">
    <p class="app-name">MoneyMinder</p>
    <p style="margin-top:-50px">Money works not you</p>
</div>
<div class="register-form">
    <form asp-controller="Account" asp-action="Register" class="form" method="post">
        <p style="color:white;font-size:45px;margin-top:-20px;font-weight:bold;">MoneyMinder</p>
        <div class="input-container">
            <label asp-for="Email" class="label">Email</label>
            <input type="text" class="input" asp-for="Email" required/>
            
        </div>
       @* <div>
             <input type="text" class="input" asp-for="PhoneNumber" placeholder="a" required/>
            <label asp-for="PhoneNumber" class="label">Phone Number</label>
        </div>*@
        <div class="input-container">
            <label asp-for="Username" class="label">Username</label>
            <input type="text" class="input" asp-for="Username" required/>
            
        </div>
        <div class="input-container">
            <label asp-for="Password" class="label">Password</label>
            <input type="password" class="input" asp-for="Password"required/>
            
        </div>
        <div class="input-container">
            <label asp-for="RePassword" class="label">Re-enter password</label>
            <input type="password" class="input" asp-for="RePassword" required/>
            
        </div>

        <button type="submit" class="submit-btn" value="Sign up"> Sign Up</button>
        <p style="font-weight:lighter;">Already have an account? <a style="text-decoration:none" id="register-account" asp-controller="Account" asp-action="Login">Sign In</a> </p>
        <p id="register-result">@ViewBag.RegistrationResultMessage</p>
    </form>
</div>


<style>
    html{
        height: 100vh;
    }
    .container{
        height:100vh;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;

    }

    body {
        background-color: #03030F;
    }
    header{
        display:none;
    }
    footer{
        display:none;
    }
    p{
        color:white;
        font-family:"Outfit";
    }

    a {
        color: white;
        font-weight: bold;
    }

    .word {
        font-size: 180px;
        color: #ffffff26;
        font-family: "Outfit";
        font-weight: bold;
        position: fixed;
        transform: rotate(90deg);
        ww top: 0;
        left: -300px;
    }

    .app-logo {
        width: 30vw;
        height: 90vh;
        margin-top: 5vh;
        margin-left: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .app-name {
        color: white;
        font-size: 50px;
    }
    .register-form {
        border: 1px solid white;
        border-radius: 50px;
        width: 30vw;
        height: 90vh;
        margin-top: 4vh;
        margin-left: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
   
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
 
    }
    .title {
        font-size: 50px;
        margin-bottom: 50px;
    }
    .input-container {

        height: 45px;
        width: 90%;
        margin-bottom: 17px;
    }
    /* Style the inputs */
    .input {
        width: 300px;
        color: white;
        height: 30px;
        border: 1px solid white;
        border-radius: 50px;
        background: none;
        padding-left: 10px;
    }
    
	.label {
        color: white;
        font-family: "Outfit";
        font-size: small;
    }
	.submit-btn {
        border-radius: 50px;
        width: 200px;
        height: 30px;
	}

    input {
        width: 300px;
        color: white;
        height: 30px;
        border: 1px solid white;
        border-radius: 50px;
        background: none;
        padding-left: 10px;
    }
    #register-result {
        color: red
    }
</style>